################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Programming-Final/v16/.suo
/ProgrammingIIIFinal/.vs/ProgrammingIIIFinal/v16/Server/sqlite3/db.lock
/ProgrammingIIIFinal/.vs/ProgrammingIIIFinal/v16/Server/sqlite3/storage.ide
/ProgrammingIIIFinal/.vs/ProgrammingIIIFinal/v16/Server/sqlite3/storage.ide-shm
/ProgrammingIIIFinal/.vs/ProgrammingIIIFinal/v16/Server/sqlite3/storage.ide-wal
/ProgrammingIIIFinal/.vs/ProgrammingIIIFinal/v16/.suo
*.json
